@font-face {
    font-family: sahel;
    src: url("fonts/Sahel.eot") format("eot"),
      url("fonts/Sahel.woff") format("woff"),
      url("fonts/Sahel.woff2") format("woff2");
    font-weight: bolder;
  }
*,body{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
}
ul,li,ol{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration:none;
    color: black;
}
main{
    color: blanchedalmond;
    padding: 10px;
    width: 800px;
    margin: auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.clock{
    font-size: 70px;
}