@font-face {
    font-family: sahel;
    src: url("fonts/Sahel.eot") format("eot"),
      url("fonts/Sahel.woff") format("woff"),
      url("fonts/Sahel.woff2") format("woff2");
    font-weight: bolder;
  }
*,body{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
}
ul,li,ol{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration:none;
    color: black;
}
main{
    color: blanchedalmond;
    padding: 10px;
    margin: auto;
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.clock{
    font-size: 70px;
}
.sia{
    font-size: 35px;
    color: blanchedalmond;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: chartreuse;
    position: absolute;
    border-radius: 100%;
    top: 0;
}
.examplebox{
    color: whitesmoke;
}
.examplebox .example1{
    height: 50px;
    border: 1px solid whitesmoke;
    padding: 20px;
    overflow: scroll;
    margin-bottom: 500px;
    margin-top: 500px;
}
.examplebox .example2{
    height: 50px;
    border: 1px solid whitesmoke;
    padding: 20px;
    overflow: scroll;
    margin-bottom: 500px;
}
.examplebox .example3{
    height: 50px;
    border: 1px solid whitesmoke;
    padding: 20px;
    overflow: scroll;
    margin-bottom: 500px;
}
button{
    color: whitesmoke;
    padding: 20px;
    background-color: blue;
    position: sticky;
    bottom: 0;
}