/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/font/font-face.css ***!
  \**************************************************************************/
@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir-Regular.eot);
  src: url(../fonts/Vazir-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Vazir-Regular.woff2) format('woff2'),
       url(../fonts/Vazir-Regular.woff) format('woff'),
       url(../fonts/Vazir-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display:swap;
}
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/style.css ***!
  \***********************************************************************/
body{
    font-family: "Vazir";
    background-color: rgb(133, 200, 255);
}
.imgg{
    width: 100px;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style/custome.css ***!
  \*************************************************************************/
body,*{
    color: red;
}
